header
  .logo
    h1 Quisque malesua 
    p Quisque malesua 
  nav
    .home
      a(href="#") Home
    div
      a(href="#") Acerca de 
      a(href="#") Portfolio
      a(href="#") Blog 
      a(href="#") Contacto