.logo
  h1
    font-size: calc(57pt / 3);
    margin: var(--s1x) var(--s1x);
  p
    font-size: calc(26pt - 12pt);
    margin-bottom: 12px

nav
  display: grid
  grid-template-columns: auto auto

.home, nav div 
  height 60px
  display: flex;
  align-items: center;
  justify-content: space-evenly;
.home
  border-radius: 12px 0 0 12px;
  background-color: #00f;
nav div 
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-radius: 0 12px 12px 0;
    background-color: #d6d6d6
a
  font-size: 11pt
  text-align: center;
  text-decoration: none
  color: white
