*
	box-sizing: border-box;
	margin: 0
	padding: 0
body
	font-family: 'Lato', sans-serif;
	display: flex
	justify-content: center
	background-color: #f5f5f5
.sociales
	display: flex;
	justify-content: space-evenly;
	width: 246px;
	img
		background-color: rgb(179, 179, 17)	
		height calc(44px - var(--s1x))
		width: calc(44px - var(--s1x))
		border-radius: 50%
footer 
	display: flex
	justify-content: space-between
	margin: 40px 0
	p
		font-size: 10pt
		margin: 0 0 

p, small
	font-size: 10pt
hr
	height: 7px;
	background-color: #f5f5f5;
	border: 0px;
.article p
	font-size: 12pt
.article
	display: flex
	flex-direction: column
	border-radius: 12px
	margin: 10px 0;

	background-color: white

	.article_datos
		h2
			font-size: 17pt
			margin: 12pt
		h3
			font-size: 12pt
		p
			font-size: 14pt