* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  width: h1, h2, h3;
}
.logo {
  width: 60%;
}
.logo h1 {
  font-size: 59pt;
}
.logo p {
  font-size: 26pt;
}
nav {
  max-width: 1560px;
  display: flex;
}
nav a {
  font-size: 18pt;
  margin: 0 130px;
}
