
main
  display: flex
  justify-content: space-between
  align-items: baseline
  margin var(--s1x) 0
  border: 1px solid  #00 
h3
  font-size: 17pt
h2
  font-size: 24pt
p
  font-size: 16pt


h3, h2, p, img 
  margin var(--s1x) var(--s1x)

img 
  border: 1px solid  #00 
  min-width: 424px
  min-height 206px