main
  img(src="", alt="principal")
  P.
    Quisque in augue. Donec aliquam magna nonummy enim. Proin 
    blandit imperdiet sem. Donec malesuada, urna sit amet varius 
    aliquam, nibh tortor laoreet turpis, eget sodales felis  nibh 
    ac sapien. Fusce eget augue. Integer sed risus. Aenean mollis.
