
main
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: baseline
  margin var(--s1x) 0
  border: 1px solid  #00 
  img
    border: 1px solid  #00 
    min-width: 100%
    min-height 206px
    height: fit-content;
h3
  font-size: 17pt
h2
  font-size: 24pt
p
  font-size: 13pt


h3, h2, p 
  margin var(--s1x) var(--s1x)

.destacado
	@extend main