
main
  display: flex
  justify-content: space-between
  align-items: baseline
  margin var(--s1x) 0
  border-radius: 12px
  background-color: #ff
  img
    border: 1px solid  #00 
    min-width: 424px
    min-height 206px
  h2
    font-size: 24pt ,
  h3
    font-size: 17pt
  p
    font-size: 16pt


h3, h2, p
  margin var(--s1x) var(--s1x)

